/*.container {
    position: relative;
    text-align: center;
    color: rgb(255, 0, 0);
    width: 40%;
    padding-left: 30%;
    font-family: ;
}*/

body {
    background-image: url(images/1971772_c37cc.gif);
    background-repeat: repeat;
    background-attachment: fixed;
}

#animeGirl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;           
}

#headLiner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-container {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.side-img {
    width:25%;
    aspect-ratio: 1;
    image-rendering: pixelated;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#music-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: Gray;
    border-top: 4px solid White;
    background-color: #003265;
    background-image: url(images/cat-space.gif);
    background-size: auto 200%;
    background-position-y: 50%;
    
    touch-action: none;
}
.music-button {
    margin: 4px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 34px;
    height: 34px;
    
    background-size: cover;
    border: 2px solid;
    border-color: #CCC #444 #444 #CCC;
}
.music-button:hover {
    border-color: White Black Black White;
}
.music-button:active {
    border-color: Black White White Black;
}
#music-select-previous {
    background: url("images/music-previous.png");
}
#music-play {
    background: url("images/music-play.png");
}
#music-select-next {
    background: url("images/music-next.png");
}

#music-name {
    margin: 0;
    margin-top: 12px;
    height: 24px;
    display: block;
    
    color: White;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px Red);
}
#music-progress-bar {
    margin: 4px;
    margin-top: auto;
    margin-bottom: auto;
    height: 10px;
    width: 300px;
    background-color: White;
}
#music-progress-time, #music-total-time {
    margin: 6px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    display: block;
    color: White;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px Black);
}
#music-progress {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: Blue;
}
#music-progress::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 16px;
    right: -3px;
    top: -3px;
    
    border-radius: 3px;
    background-color: Aqua;
    box-sizing: border-box;
}

#music-mute {
    background: url("images/music-unmute.png");
}
#music-volume-bar {
    margin: 12px;
    margin-top: auto;
    margin-bottom: auto;
    height: 10px;
    width: 100px;
    background-color: White;
}
#music-volume {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: Blue;
}
#music-volume::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 16px;
    right: -3px;
    top: -3px;
    
    border-radius: 3px;
    background-color: Aqua;
    box-sizing: border-box;
}
#music-volume-value {
    margin: 6px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    text-align: end;
    color: White;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px Black);
}

body {
    padding-bottom: 80px;
}

@media only screen and (max-aspect-ratio: 4/3) {
    #headLiner {
        width: 80%;
    }
    #animeGirl {
        width: 50%;
    }
    .side-img {
        width: 45%;
    }
    .center {
        width: 100%;
    }
    #music-progress-bar, #music-name {
        display: none;
    }
}